@charset "UTF-8";
/* ==== BASE STYLES ====*/
/* ==================== GLOBAL STYLES ======================= */

html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}
:root{
  --main-color:#d62936;
  --main-font-color:#45a18e;
  --main-hover-color:red;
  --main-body-color:#000;
  --main-header-color:#191919;
}
/* ================== HELPERS  =================== */
a:hover {
  text-decoration: none;
}
.hb{
  animation: beat .25s infinite alternate;
}
@keyframes beat{
  to { transform: scale(1.1); }
}

.vh-100 {
  height: 100vh;
}
.hover-zoom:hover {
  transition: 0.5s;
  transform: scaleX(1);
}
/* body{
  background:#f1f3f6;
} */
.btn__addcart{
  padding:5px 2px;
  }
.header__icon{
width: 48px;
height: 48px;
line-height: 41px !important;
font-size: 20px;
border: 1px solid #fff;
color: #fff;
border-radius: 50%;
}
.section-title {
  color: #212529;
}
ul.show {
  position: absolute;
  background: #fff;
  /* background: #dedede; */
  z-index: 10;
  margin-left: -50px;
  border-radius: 10px;
}
/* ================== SECTIONS =================== */
/* ================== header main ==================  */

.cc {
  animation: color-change 1.5s infinite;
}

@keyframes color-change {
  0% { color: #fff; }
  33% { color: var(--main-color); }
  66% { color: #fff }
  100% { color: var(--main-color);}
}
/* logo__img */
.new{
  animation: beat .25s infinite alternate;
  }
  @keyframes beat{
    to { transform: scale(1.1); }
  }
/* logo__img */
/* header sticky start */
header.section-header {
  background: var(--main-header-color);
  position: sticky;
  top: 0;
  z-index: 999999;
}
.logo__img {
  height: 220px;
  margin-bottom: -68px;
  margin-top: -75px;
}
.d__button,.d__button:hover {
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 6px;
  color: #fff;
}
button.control-arrow.control-next,button.control-arrow.control-prev {
  background: black!important;
  width: 50px;
  height: 50px;
}
.carousel.carousel-slider .control-arrow {
  /* top: calc(50% - 13px)!important;ss */
  font-size: 26px;
  margin-top: 0;
  padding: 5px 18px;
  border-radius: 50%;
  /* right: 30px;  */
}
button.control-arrow.control-prev,button.control-arrow.control-next {
  top: calc( 50% - 13px)!important;
}
/* .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 2px 18px!important; 
} */
.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 2px 0px!important;
}
.carousel .thumb,.carousel-status {
  display: none!important;
}
.carousel .slide {
  background: #ececec!important;
}
/* .top-slider-img{
  width: 100%;
  height: auto;
} */
.legend1{
  transition: .5s ease-in-out;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -45%;
  width: 50%;
  background: none;
  color: #fff;
  padding: 10px;
  font-size: 70px;
  text-align: center;
  opacity: .75;
  transition: opacity .35s ease-in-out;
}
li.ul-sidebar-item.catgory-list:hover {
  color: #e16363;
  /* margin-left: -4px; */
  /* box-shadow: 1px 1px 5px -3px; */
  transition: .5s;
}
.widget-header {
  margin-top: 22px;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  background-color: var(--main-color);
}
form.search {
  margin-top: 23px;
}
.btn-header {
  background-color: var(--main-color);
  color: #eff1ef;
}
.btn:hover {
  color: #ffffff;
}

li.nav-text {
  padding: 0 12px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  list-style: none;
}
.btn-last {
  background-color: var(--main-color);
  color: #eff1ef;
  margin-top: 0px;
  padding: 5px 14px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
}
li.nav-cart {
  font-size: 20px;
  color: white;
  list-style: none;
  margin-left: 1px;
  position: relative;
  cursor: pointer;
}
span.cart-count {
  top: -10px;
  left: 2.5px;
  font-size: 12px;
  font-weight: 500;
  background: var(--main-color);
  padding: 1px 7px;
  border-radius: 45%;
}
span.header-cart-text {
  font-size: 19px;
  font-weight: 600;
  padding-left: 10px;
}

img.slider__img{
  width:99%;
  border-radius: 10px;
}
.slider-img:hover {
  transform: scale(1.10);
}
.round {
  border-radius: 1rem!important;
}
span.change-text {
  font-size: 50px;
}
.cat-img {
  width: auto;
}
.img__size{
  width: 60px;
  height: 60px;
}
/* .carousel  */
li.catgory-list {
  list-style: none;
  padding: 10px 50px;
  margin-left: 5px;
  font-size: 16px;
  color: rgb(119, 121, 140);
  font-weight: 700;
  cursor: pointer;
}
li.sub-cat {
  list-style: none;
  font-size: 16px;
  padding: 16px 15px 16px 1px;
  font-weight: 400;
  color: rgb(119, 121, 140);
  margin-left: -13px;
}
li.sub-cat:hover {
  color: #e98282;
  margin-left: 1px;
  transition: .75s ease-in-out;
  transition: .25s ease-in-out;
}s
span.li-icon {
  font-size: 12px;
  margin-top: 8px;
}
ul.ul-sidebar.catgory-list {
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.li-icon svg {
  transform: rotate(90deg);
  margin-left: 9px;
}
.main-banner{
width:95%
}
.category-outer{
  max-width:1200px;
}
/* .p-catageory {
  margin-top: 35px;
} */
.main-product {
  padding: 15px 25px 25px;
}
.main-product {
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin: 0px;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 16%);
}
.card-header {
  background: #fff;
  border-bottom: none;
}
.card {
  min-height: 290px;
  border: none;
}
span.cbn {
  transform: rotate(-45deg);
  top: 18px;
  font-size: 24px;
  left: -2px; 
}
.card-body .cbn{
  animation: ccc 5s infinite;
}
.col-8{
  border-bottom: .5px solid gray;
}
@keyframes ccc {
  0% { color: #fff; }
  33% { color: yellow; }
  66% { color:yellowgreen }
  100% { color: var(--main-color);}
}
.p-img {
  height: 200px;
  width: 200px;
}
.p-img:hover {
  transform: scale(1.05);
}
.d-img {
  position: absolute;
}
/* .col-sm-6,.col-md-4,.col-lg-2{
  padding-left: 0px;
  padding-right:0px;
} */
.card-body {
  padding: 0px;
}
.card-footer {
  border: none;
  background-color: #fff;
}
.btn .cart-button {
  border: 1px solid #d8d4d4;
  border-radius: 20px;
}
button.btn.cart-button:hover{
  background : red;
  color:#fff;
}
span.women-shoes {
  padding: 2px 6px;
  color: #fff;
  border-radius: 20%;
}
/* .proudects {
  border-top: 1px solid #c6c0c0;
} */
span.prouduct-price {
  cursor: pointer;
  color: #656363;
  font-size: 17px;
  font-weight: 600;
}
button.btn-danger.w-50.p-3 {
  margin-left: 485px;
  border-radius: 20px;
  margin-top: 30px;
}
.footer-right {
  font-size: 14px;
  font-weight: 400;
}

/* footer css start */
footer.section-footer {
  background-color: #172337;
  padding: 25px;
}
.footer-inner {
  padding-left: 60px;
  padding-bottom: 15px;
}
.ab-head{
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 9px;
}
.ab-body {
  line-height: 2;
  font-weight: 500;
  color: #fff;
  display: block;
  font-weight: 400;
  font-size: 11px;
}

/* footer css start */
/* login modal css start */
  .modal-dialog {
    max-width: 650px;
    margin:auto;
  }
  .modal-body{
    padding:0;
  }
  .cls-btn {
    display: inline-block;
    border-radius: 2px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    outline: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  }
  .top__btn {
    position: absolute;
    right: -38px;
    top: 0;
    padding: 0;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    vertical-align: top;
  }

  .left-login {
    width: 40%;
    background-color: var(--main-color);
    padding: 40px 33px;
    background-image:url( ../images/loginbg.png);
    background-repeat: no-repeat;
    background-position: center 85%;
    min-height: 500px;
  }
  span.left-text {
    line-height: 35px;
    font-size: 17px;
    font-weight: 100;
    font-family: arial,sans-serif;
    color: #caccce;
  }
  .text__height {
    padding: 1px;
    margin-top: -9px;
    height: 26px;
  }
  .right-login{
    width:60%;
    padding: 56px 35px 16px;
    position: relative;
    background-color: #fff;
  }
  .forget{
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    color: var(--main-color)!important;
  }
  .pass {
    position: absolute;
    display: inline-block;
    right: 0px;
    bottom: 0px;
  }
  span.form-text {
    font-size: 12px;
    line-height: 23px;
    margin-top: 35px;
  }
  .btn__lower {
    background: #fff;
    box-shadow: 0px 0px 12px -7px;
    border: none;
  }
  a.new-user {
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38px;
    font-weight: 500;
  }
  .form-control {
    border:none;
    border-radius:0;
    border-bottom: .5px solid darkgray;
  }
  /*otp css start */
  ._210lwq {
    text-align: center;
    font-size: 16px;
}
._210lwq ._2eL2SZ {
  margin-right: 10px;
}
._14Me7y {
  color:#fff;
  font-weight: 500;
}
._210lwq .HSKgdN {
  display: flex;
  margin-top: 54px;
  -ms-flex-pack: center;
  justify-content: center;
}
._210lwq ._2EZ3Zp {
  margin-right: 10px;
  width: 28px;
}
.IiD88i {
  position: relative;
  margin-bottom: 34px;
  font-size: 16px;
}
._210lwq ._1WRfas {
  padding: 0;
  font-size: 24px;
  text-align: center;
  box-shadow: none;
}
._2IX_2- {
  padding: 8px 10px 10px 0;
  width: 100%;
  color: #000;
  font-size: inherit;
  background: #fff;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}
._36T8XR {
  position: relative;
  display: block;
  width: 100%;
}
._36T8XR:before {
  left: 50%;
  transform-origin: left;
}
._36T8XR:before {
  left: 50%;
  -webkit-transform-origin: left;
  transform-origin: left;
}
._36T8XR:after, ._36T8XR:before {
  content: "";
  height: 1px;
  width: 50%;
  transform: scale(0);
  bottom: 1px;
  position: absolute;
  will-change: transform;
  background: var(--main-color);
  transition: transform .2s ease;
}
._36T8XR:after {
  right: 50%;
  -webkit-transform-origin: right;
  transform-origin: right;
}
._1fqY3P {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translateY(10px);
  transition: transform .2s ease;
  will-change: transform;
  transform-origin: left;
}

 /* otp css end */

/* login modal css end */


/* animation add to cart */
.card-body:nth-child(1)>.active{
  animation : abc .5s ease in;
}
@keyframes abc{
  to{
    width:30px;
    height:20px;
    left:1000px;
    top:-50px;
  }
}
/* animation add to cart end */

/* -------slider product page css start---------- */
 .pro-des{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .pro-cat {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 700;
  margin-top: 12px;
 }
 .pro-prize-range {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 100;
 }
 .pro-brand {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}
.slick-prev:before, .slick-next:before {
  font-size: 35px!important;
  color: #191818 !important;
}
.slick-next {
  right: 1px!important;
  top: calc(50% - 13px)!important;
}
.slick-prev {
  left: 2px!important;;
  z-index: 43!important;;
  top: calc(50% - 13.5px)!important;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0!important;
}


/* -------slider product page css end---------- */
/* -------------------------------Responsive start--------------------------------------- */
/* -------------------------------Responsive start--------------------------------------- */
@media only screen and (max-width: 1034px) {
  /* ul.header-text.d-flex.header-nav {
    margin-left: -27px;
  } */
  li.nav-text {
    padding: 0 8px;
    font-size: 17px;
    font-weight: 400;
}
ul.ul-sidebar.catgory-list {
  padding-left: 7px;
}

.ghi{
z-index: 12;
}
.carousel .slide .legend1 {
  top: 7%;
  left: 6%;
  margin-left:1%;
  padding: 1px;
  font-size: 43px;
}
span.change-text {
  font-size: 30px;
}
.containers{
  max-width: 95%;
}
.sidebar-top {
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 16%)!important;
}
/* .sidebar-top{
box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
} */
/* li.ul-sidebar-item {
  min-width: 15%;  
} */
/* span.li-icon {
  display: none;
} */
.modal-dialog {
  max-width: 80%;
}
/* Responsive end(1034) */
}
/* Responsive end(1034) */
/* Responsive start(768) */
@media only screen and (max-width: 768px) {
  
.btn-header {
  font-size: 15px;
  margin-top: 0px;
}
.carousel .slide .legend1 {
  font-size: 30px;
}
span.change-text {
  font-size: 25px;
}
.left-login {
  padding: 40px 25px;
}
/* Responsive end(768) */
  }
/* Responsive end(768) */
/* Responsive start(576) */
@media only screen and (max-width: 576px) {
  /* li.nav-text {
    padding: 0px;
  } */
  .btn-header {
    margin-left: 26px;
    margin-left: 0px;
 }
.top__btn {
  right: 0;
  color: #0c0c0c;
  z-index: 999;
  font-size: 28px!important;
 }
.modal-dialog {
  max-width: 90%;
 }
.left-login {
  padding: 40px 15px;
 }
span.left-text {
  line-height: 30px;
  font-size: 15px;
 }
/* button.btn.btn-header {
  margin-top: px;
} */

/* Responsive end(576 px) */
}
/* Responsive end(576 px) */

/* Responsive start(480px) */
@media only screen and (max-width: 480px) {
  h3.top-heading {
    font-size: 20px;
}
.left-login {
  padding: 40px 10px;
}
span.left-text {
  line-height: 25px;
  font-size: 12px;
}
.right-login {
  padding: 32px 15px 16px;
}
.pass {
  bottom: -21px;
}
footer.section-footer {
  padding: 20px;
}
.footer-inner {
  padding-left: 30px;
}
}