.outer{
    background-color:#eef0f3;
    padding-bottom: 12px;
  }
.main-filters{
 box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
}
 .filter-cat{
  padding: 16px;
  position:relative;
  border-bottom: 1px solid #f0f0f0;
}
.filter__right{
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}
span.filter-text {
  font-size: 22px;
  font-weight: 400;
}
.filter-cat-inner {
  cursor: pointer;
  margin: -16px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}
.filter__text {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .3px;
  display: inline-block;
}
.filter-name {
  width: 95%;
}
.filter-icon {
    display: inline-block;
    cursor: pointer;
    width: 6px;
    height: 11px;
    transform: rotate(-90deg);
}
.icon-fill {
  fill: #878787;
}
.filter-head, .filter-inner-1st {
  margin: 7px 0;
}
.filter-inner-2nd {
  cursor: pointer;
  padding: 3px 0;
}
.filter-inner-3rd {
  width: 100%;
}
.fi3 {
  display: inline-block;
  /* width: 127px; */
}
.filter-inner-4th {
  cursor: pointer;
  width: 100%;
  position: relative;
  padding: 3px 0;
}
.cbox-orignal {
  /*  */
  position: absolute;
  top: 9px;
  left: 0;
}
.c-box-show {
  position: relative;
  width: 14px;
  height: 14px;
  visibility: hidden;
  background-color: transparent;
  border: 1.4px solid #c2c2c2;
  border-radius: 1.5px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.filter-main-text {
  vertical-align: middle;
  padding-left: 11px;
  color: #212121;
  display: inline-block;
  font-size:14px;
  /* width: calc(100% - 25px); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  cursor: pointer;
}
.color-chose {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #000;
  border-radius: 50%;
  position: relative;
  top: 3px;
  left: 8px;
}

/* right side css */
.products-right {
  background: #ffffff;
  padding: 16px;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product-outer {
  width: 25%;
  padding: 5px;
}
.product-outer:hover{
  background: #ffffff;
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 11%);
}
/* .product-main {
  padding: 16px;
} */
/* .product-detail-outer {
  transform: translate3d(0px,0px,0px);
  transition: transform .75s ease;
} */

/* .product-detail-outer:hover {
  margin-bottom:2.5rem;
  margin-top: 5px!important;
  transform: translate3d(0px,17px,0px);
} */
.promain-img {
  min-height: 250px;
}
img.product-img {
  max-height: 250px;
}
.p-brand {
  font-size: 16px;
  font-weight: 700;
  color: #878787;
}
.p-detail {
  font-size: 13.5px;
  font-weight: 500;
  line-height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.discount-prize {
  font-weight: 600;
  padding-right: 15px;
}
del.oriznal-p {
  font-size: 13.5px;
  font-weight: 700;
  padding-right: 13px;
}
span.dis-persent {
  font-size: 15px;
  color: #388e3c;
  font-weight: 600;
}
span.size {
  font-size: 14px;
  font-weight: 700;
  padding-right: 7px;
  letter-spacing: 0px;
}
.p-size {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0px;
}

/* right side css end */
/* -------------------Responsive start----------------*/
  @media only screen and (max-width: 1034px) {
  .product-outer {
    width: 33%;
  }
  .promain-img {
    min-height: 200px;
}
  img.product-img {
    max-height: 175px;
  }
  }
  @media only screen and (max-width: 768px) {
  .product-outer {
    width: 50%;
  }
  .filter-cat {
    /* display: none; */
  }
  img.product-img {
  max-height: 250px;
  }
  .product-detail-outer {
    text-align: left;
  }
  .filter__right {
    padding: 10px 15px;
  }

  }
  @media only screen and (max-width: 576px) {
  /* .product-outer {
    width: 100%;
  }
  .product-detail-outer {
    text-align: center;
  } */
  img.product-img {
    max-height: 220px;
}
  }
  @media only screen and (max-width:480px) {
    .product-outer {
      width: 100%;
      margin-top: 20px;
  }
  .product-detail-outer {
    text-align: center;
  }
    }